{% extends "admin/login.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="{{ sso_js_url }}jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ sso_js_url }}popup.js"></script>
{% endblock %}

{% block content %}
    {{ block.super }}

    {% if popup_mode %}
        <script>
        LOGIN_PATH_POPUP_ENABLED = '{{ sso_url }}';
        LOGIN_PATH_WITH_REDIRECT = '';
        LOGIN_PROCESSING_PAGE = '';
        </script>
    {% endif %}

    <p>{% trans 'Or:' %}</p>
        <div class="form-row" style="text-align:center;">
            {% if popup_mode %}
            <a id="uua_login" href="javascript:void(null)" onClick="javascript:loadPopup();">Login with your PBS account</a>
            {% else %}

            <a id="uua_login" href="{{ sso_url }}">Login with your PBS account</a>
            {% endif %}
        </div>
{% endblock %}
