{% load i18n %}

<script type="text/javascript" src="{{ sso_js_url }}jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ sso_js_url }}popup.js"></script>
{% if popup %}
<script>
    {% if message %}
        (function($) {
            $(document).ready(function() {
                $.showMessage("{{ message|escape }}", {
                    backgroundColor: '#338ED4',
                    callback: function() {
                        // Reload the parent
                        parent.location = parent.location;
                    }
                });
            });
        })(jQuery);
    {% else %}
        parent.location = '{{ redirect_to }}';
    {% endif %}
</script>
{% else %}
    {{ message|escape }}
{% endif %}
